
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script src="~/admin-side/js/jquery.twbsPagination.js"></script>
    <script src="~/admin-side/plugins/jquery-easyui-1.9.9/jquery.easyui.min.js"></script>
    <script src="~/app/controllers/bill/index.js"></script>
    <script src="~/lib/libman/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script>
        var bill = new billController();
        bill.initialize();
    </script>
}

@section Styles {
    <link href="~/admin-side/plugins/jquery-easyui-1.9.9/themes/material-blue/easyui.css" rel="stylesheet" />
    <link href="~/admin-side/plugins/jquery-easyui-1.9.9/themes/icon.css" rel="stylesheet" />
    <link href="~/app/controllers/bill/index.css" rel="stylesheet" />
    <link href="~/lib/libman/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/lib/libman/bootstrap-datepicker/css/bootstrap-datepicker3.css" rel="stylesheet" />
}
<div class="card" id="resp-table">
    <ul id="breadcrumb-triangle">
        <li><a href="#"><span class="icofont icofont-home"> </span></a></li>
        <li><a href="#"><span class="icofont icofont-flask"> </span> Home</a></li>
        <li><a href="#"><span class="icofont icofont-double-right"></span> Product</a></li>
        <li><a href="#"><span class="icofont icofont-rocket-alt-2"> </span> Manage Bill</a></li>
    </ul>
    <div class="card-block">
        <div class="row">
            <div class="col-md-3 form-group ">
                <label>Search</label>
                <input id="txtKeyword" type="text" class="form-control" placeholder="Press to search...">
            </div>
            <div class="col-md-3 form-group">
                <label>From Date</label>
                <input class="datepicker form-control  custom-datepicker" data-date-format="dd/mm/yyyy" placeholder="DD/MM/YYYY">
            </div>
            <div class="col-md-3 form-group">
                <label>To Date</label>
                <input class="datepicker form-control custom-datepicker" data-date-format="dd/mm/yyyy"  placeholder="DD/MM/YYYY">
            </div>
            <div class="col-md-3 form-group">
                <div class="row">
                    <div class="col-md-6  form-group">
                        <label class="non-opacity">Method</label>
                        <div>
                            <button type="button" id="btnSearch" class="btn btn-primary waves-effect waves-light">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-6 text-right  form-group">
                        <label class="non-opacity">Method</label>
                        <div>
                            <button class="btn btn-primary waves-effect waves-light" id="btnCreate">
                                <i class="fa fa-plus" aria-hidden="true"></i> Add
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive" data-pattern="priority-columns">
                    <table cellspacing="0" id="tech-companies-1" class="table table-small-font table-bordered">
                        <thead>
                            <tr>
                                <th data-priority="1">Id</th>
                                <th data-priority="1">Customer Name</th>
                                <th data-priority="3">Payment Method</th>
                                <th data-priority="4">Order Date</th>
                                <th data-priority="5">Status</th>
                                <th data-priority="6">Method</th>
                            </tr>
                        </thead>
                        <tbody id="tbl-content"></tbody>
                    </table>
                </div>
            </div>
        </div>
        @*Paging*@
        <div class="row align-items-center">
            <div class="col-12 col-sm-6">
                <div class="dataTables_info" id="database-checkbox_info" role="status" aria-live="polite">
                    <span class="item-per-page">Hiển thị: </span>
                    <select id="ddlShowPage" class="custom-dropbox">
                        <option value="10" selected="selected">10</option>
                        <option value="20">20</option>
                        <option value="20">30</option>
                        <option value="20">50</option>
                    </select> / số bản ghi: <strong id="lblTotalRecords"></strong>
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="dataTables_paginate paging_simple_numbers" id="datatabl3e-checkbox_paginate">
                    <ul id="paginationUL" class="justify-content-end"></ul>
                </div>
            </div>
        </div>
    </div>

    <script id="table-template" type="x-tmpl-mustache">
        <tr>
            <td>{{Id}}</td>
            <td>{{CustomerName}}</td>
            <td>{{PaymentMethod}}</td>
            <td>{{DateCreated}}</td>
            <td>{{BillStatus}}</td>
            <td>
                <button class="btn btn-primary waves-effect btn-edit" title="Sửa" data-id={{Id}}>
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </button>
                <button class="btn btn-danger waves-effect btn-delete" title="Xóa" data-id={{Id}}>
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button>
            </td>
        </tr>
    </script>

    @Html.Partial("_DetailModal.cshtml")
