body {
}
#list-roles {
    border: 1px solid #dcd6d6;
    border-radius: 5px;
    padding: 5px 1em;
}

#modalAddEdit .modal-header {
    background: dodgerblue;
    color: white;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em
}


#modalAddEdit .modal-content {
    border-radius: 1em;
}

.red {
    color: red;
}