
@{
    ViewData["Title"] = "Danh mục sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <link href="~/admin-side/plugins/jquery-easyui-1.9.9/themes/material-blue/easyui.css" rel="stylesheet" />
    <link href="~/admin-side/plugins/jquery-easyui-1.9.9/themes/icon.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/admin-side/plugins/jquery-easyui-1.9.9/jquery.easyui.min.js"></script>
    <script src="~/app/controllers/product-category/index.js"></script>
    <script>
        var productCategory = new productCategory();
        productCategory.initialize();
    </script>
}

<div class="card" id="resp-table">
    <div class="card-header"><h5 class="card-header-text">Danh sách danh mục sản phẩm</h5></div>
    <div class="card-block">
        <div class="row">
            <div class="col-md-4 form-group ">
            </div>
        </div>
        <div class="row">
            <ul id="treeProductCategory"></ul>
        </div>
    </div>
</div>
