.pagination li a{
    color: gray !important;
}

.pagination li.active a {
    color: white !important;
}


#modalImportExcel .modal-header, #modalAddEdit .modal-header {
    background: dodgerblue;
    color: white;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em
}


#modalImportExcel .modal-content, #modalAddEdit .modal-content {
    border-radius: 1em;
}


.modal-content {
    border: none !important;
}

.modal-header {
    background: dodgerblue !important;
    color: white !important;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
}


#image-list .image-item {
    margin: 0.5em;
    box-shadow: 0 0 3px gray;
    position: relative;
    text-align: center;
    max-height: 20vh;
    overflow: hidden;
    margin-bottom: 0.5em;
    border-radius: 10px;
}

#image-list .btn-delete-image {
    height: 1.5em;
    width: 1.5em;
    z-index: 1000;
    position: absolute;
    border-radius: 50%;
    top: 0.3em;
    right: 0.3em;
}

#image-list img {
    max-height: 100%;

}

.w-20vw {
    width: 20vw;
}