<div class="modal fade" id="modalWholePrice" tabindex="-1" role="dialog">
    <div class="modal-dialog  modal-md" style="max-width: 60%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close waves-effect" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Whole Price</h4>
            </div>
            <div id="horizontal-form" class="p-2">
                <form class="form-horizontal" role="form" id="frmMaintainance">
                    <input type="hidden" id="hideId" value="" />
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td>From</td>
                                <td>To</td>
                                <td>Price</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody id="table-whole-price-content"></tbody>
                        <tfoot>
                            <tr>
                                <td colspan="4">
                                    <button class="btn btn-xs btn-success" type="button" id="btn-add-whole-price">
                                        <i class="fa fa-plus" aria-hidden="true"></i> Add
                                    </button>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </form>

                <script type="x-tmpl-mustache" id="template-table-whole-price">
                    <tr data-id="{{Id}}">
                        <td><input type="number" class="txtFrom form-control" value="{{From}}" /></td>
                        <td><input type="number" class="txtTo form-control" value="{{To}}" /></td>
                        <td><input type="number" class="txtPrice form-control" value="{{Price}}" /></td>
                        <td>
                            <button class="btn btn-xs btn-danger waves-effect btn-delete-whole-price" type="button" data-id="{{Id}}">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </script>
            </div>
            <div class="modal-footer">
                <div class="col-sm-12 text-right">
                    <button type="button" id="btnSaveWholePrice" class="btn btn-primary waves-effect">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i> Save
                    </button>
                    <button type="button" data-dismiss="modal" class="btn btn-danger waves-effect">
                        <i class="fa fa-times" aria-hidden="true"></i> Close
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    <!-- Model animation js -->
    <script type="text/javascript" src="~/admin-side/bower_components/classie/js/classie.js"></script>
    <script src="~/admin-side/plugins/ModalWindowEffects/js/modalEffects.js"></script>
    <!-- custom js -->
    <script src="~/admin-side/pages/modal.js"></script>
}

@section Styles {
    <!-- Modal animation CSS -->
    <link rel="stylesheet" type="text/css" href="~/admin-side/plugins/modal/css/component.css">
    <!-- Responsive.css-->
    <link rel="stylesheet" type="text/css" href="~/admin-side/css/responsive.css">
}